@model HomeViewModel

@*@await Html.PartialAsync("_Carousel")*@


@section slider_section {
    <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Fast Food Restaurante
                                    </h1>
                                    <p >
                                        Descubra Sabores Incríveis na Feane!
                                        🍔🍕 Desfrute dos melhores hambúrgueres, pizzas saborosas e lanches frescos em um ambiente acolhedor. 
                                        Visite-nos em Piracaia e deixe-se levar por uma experiência gastronômica única!
                                        Não se esqueça de acompanhar com nossas deliciosas bebidas.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
}

@*Pizza e Lanches *@
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/o1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Quintas-feiras saborosas
                            </h5>
                            <h6>
                                <span>20%</span> de desconto
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/o2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Dias de Pizza
                            </h5>
                            <h6>
                                <span>15%</span> de desconto
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Grid container lanches e pizza*@
<section class="food_section layout_padding">
    <div class="container">

        <div class="heading_container heading_center">
            <h2>
                Os Favoritos
            </h2>
        </div>
        <br />

        <div class="filters-content">
            <div class="row grid">
                @foreach (var lanche in Model.LanchesPreferidos)
                {
                    <partial name="_LanchesResumo" for="@lanche" />
                }
            </div>
        </div>

        <div class="btn-box">
            <a href="">
                Veja mais
            </a>
        </div>
    </div>
</section>

@*Tenho que arrumar aqui*@
<section class="about_section layout_padding">
    <div class="container ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Nós somos Feane
                        </h2>
                    </div>
                    <p>
                        Bem-vindo ao Feane, onde a paixão pela culinária ganha vida!
                        Nossa jornada começou em uma pequena cozinha, com a ideia audaciosa de criar lanches,
                        pizzas e bebidas que fossem mais do que apenas refeições,queríamos proporcionar
                        experiências gastronômicas extraordinárias.
                    </p>

                    <div class="btn-box">
                        <a href="">
                            Veja mais
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />

@*Formulario*@
<section class="book_section layout_padding">
</section>
<br />
<br />
<br />



