

<ul class="filters_menu">
    @foreach (var categoria in Model)
    {
        <li data-filter="@categoria.CategoriaNome">
            <a  asp-controller="Lanche" asp-action="List" style="color:black"
           asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
        </li>
    }
    
</ul>

