@model LancheListViewModel



<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Nosso cardápio
            </h2>
        </div>

        @await Component.InvokeAsync("CategoriaMenu")

        <div class="filters-content">
            <div class="row grid">
                @foreach (var lanche in Model.Lanches)
                {
                        <partial name="_LanchesResumo" for="@lanche" />
                }
            </div>
        </div>

        <div class="btn-box">
            <a href="">
                Veja mais
            </a>
        </div>
    </div>
</section>
