@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="form-inline">

        <button type="submit" class="btn  my-2 my-sm-0 nav_search-btn">

            <i class='bx bx-log-in'>.Sair @User.Identity.Name &nbsp; </i>
        </button>
    </form>
}
else
{
    <button class="btn  my-2 my-sm-0 nav_search-btn">
        <a class="text-white" asp-controller="Account" asp-action="Login"><i class='bx bx-log-in'>.Entrar </i></a>

    </button>
}