<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Nós somos Feane
                        </h2>
                    </div>

                    <p>
                        Bem-vindo ao Feane, onde a paixão pela culinária ganha vida! Nossa jornada começou em uma pequena cozinha, com a ideia audaciosa de criar lanches, pizzas e bebidas que fossem mais do que apenas refeições, queríamos proporcionar experiências gastronômicas extraordinárias.
                    </p>

                    <p>
                        Cada item do nosso cardápio é cuidadosamente elaborado, desde nossos hambúrgueres suculentos até nossas pizzas frescas e irresistíveis. Inspirados pela diversidade de sabores ao redor do mundo, buscamos constantemente inovações para surpreender seu paladar.
                    </p>


                    <p>  Nossa missão vai além de alimentar; é criar momentos memoráveis. Estamos aqui para celebrar aniversários, encontros, vitórias e até mesmo aquelas noites aconchegantes em casa. Acreditamos que boa comida une as pessoas, e é por isso que nos dedicamos a trazer o melhor para sua mesa.</p>

                    <p>   Junte-se a nós nesta deliciosa jornada. Feane - Onde os sabores ganham vida!</p>

                    
                </div>
            </div>
        </div>
    </div>
</section>